<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <nav th:fragment="nav" class="navbar navbar-dark bg-dark navbar-expand-sm">
    <a href="/" class="navbar-brand">Code Against Humanity</a>

    <div th:if="${principalUser}" class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/profile" class="nav-link"
            ><span th:text="${principalUser.name}">Username</span></a
          >
        </li>
        <li class="nav-item">
          <form class="form-inline" method="POST" action="createGame">
            <button class="btn btn-link nav-btn" type="submit">Create game</button>
          </form>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">My Games</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Rules</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
      </ul>



    </div>
    <div
      th:unless="${principalUser}"
      class="collapse navbar-collapse"
      id="mainNav"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/login" class="nav-link">Log in</a></li>
        <li class="nav-item">
          <a href="/registration" class="nav-link">Sign up</a>
        </li>
      </ul>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#mainNav"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</html>
