<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <link th:replace="fragments/css :: css" ></link>

</head>

<body>
<nav th:replace="fragments/nav :: nav" class="nav"></nav>
<div class="container-fluid bg-3 text-center">
    <h3>Team Emotional Curves</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="../images/kawaiiChibiJane.png" alt="Jane" width="300" height="300">
            <p>Good morning, my name is Jane Hur. I am currently training to become a software developer. I'll be here at CodeFellows for classroom training until October and then after that I'll be joining an AWS team at Amazon for on the job training.

                Prior to this apprenticeship, I worked in nonprofit and higher ed for about ten years as a web designer. While I loved the organizations I worked for, I really was looking for a change, so decided earlier this year to look for new opportunities.

                This apprenticeship really had everything I was looking for: the chance to expand my skillset, opportunities for professional development and a chance to work in tech in Seattle. My first degree was in Architecture and in some ways, I feel like I am returning to my first vocational love of designing and building things. I am very grateful to be here.

                My team at Amazon is responsible for protecting cloud computing resources from being abused and making sure there is enough capacity to meet customer requests. I'm excited to learn more about what that means and how I can help when I graduate from CodeFellows. </p>

        </div>
        <div class="col-sm-4">
            <img src="../images/kawaiiChibiJack.png" alt="Image" width="300" height="300">
            <p>My name is Jack and I am a software developer.
                My goal in life is to inspire clarity and build harmony with everything that I do.
                With a double degree in Computer Science and English Education, I have a knack for reducing complication in systems and passion for clear communication because, to me, clarity is not a trait.  It’s a skill that you build.
                When I started a business in web design, I built a foundation of skills on a LAMP stack and with eCommerce.  With an internship in research I expanded those skills into Node.JS, express, and MySQL.  Clarity was the skill I used everyday, to talk to clients and coworkers.
                I also love teaching -- I run CS modules at Peninsula Union School District and other low income communities on a variety of subjects  including HTML, CSS, and C++.  In that role, it’s always harmony, or kindness, that finds the most success and use.
                I also love helping people.  Before tech I helped connect people to new jobs.  Except that I wasn’t using my full potential which leads back to today.
                Today, I am honored to be an Amazon Military Apprentice for software development.  </p>

        </div>
        <div class="col-sm-4">
            <img src="../images/kawaiiChibiRenee.png" alt="Image" width="300" height="300">
            <p>Hello, my name is Renee Messick. I am a Software Developer Apprentice at Amazon.

                Before I took the leap into teach, I was an account management coordinator for a startup that build webstores and design merchandise for Youtube personalities. I found that I had grown bored with my job until I got the experience working on the webstores. This exposure to web development led me to study coding. I took classes on Udemy, Code Academy, where I also really discovered the concept of machine learning.

                I feel incredibly lucky to be on the Alexa Natural and Spoken Language Understanding team where I will get to work on machine learning. That I will be part of a team to make Alexa better, more powerful and a lot smarter.</p>

        </div>
    </div>
</div>

</body>

</html>