<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="fragments/css :: css"></link>
</head>
<body>
<nav th:replace="fragments/nav :: nav" class="nav"></nav>
<div class="container">
    <h1>Profile: <span th:text="${user.fullName}"></span></h1>
    <p>Profile details will go here.</p>
    <h2>Games: </h2>
    <ul></ul>
    <div th:each="game: ${user.myGames}">
        <li><a th:href="${'/game/' + game.gameCode}"><span th:text="${game.gameCode}"></span></a>: <span th:text="${user.status}"></span>

<!--            <div th:each="status : ${user.status}">-->
<!--                <span th:text="${status.statusCode}"></span>-->
<!--            hello</div></li>-->
    </div>

</div>

</div>
<div th:replace="fragments/css :: js"></div>
</body>
</html>