<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Against Humanity</title>
    <link th:replace="fragments/css :: css" ></link>
</head>
<body>
<nav th:replace="fragments/nav :: nav" class="nav"></nav>
<div class="container">

    <h1>Welcome to Code Against Humanity.</h1>
    <h2>The online multi-player version of cards against humanity.</h2>

    <h3>EXTREMELY GRAPHIC LANGUAGE WARNING:</h3>
    <p>Cards Against Humanity is a game that can use language not appropriate for all ages.<br>
    By registering, you're basically agreeing that seeing this is your own fault.<br>
    If you're curious about additional details, or want to read the rules, click the nav button above.</p>

    <P>We Love this game.  If you love it too, please support it by <a href="https://cardsagainsthumanity.com/">buying the official physical version.</a></P>

    <h3>BORING LEGAL STUFF:</h3>
    <p>Cards Against Humanity is available under a Creative Commons BY-NC-SA 2.0 license. <br>
        That means you can use, remix, and share the game for free, but you can’t sell it without permission. <br>
        Please do not steal their name or they will smash you.</p>
</div>
<div th:replace="fragments/css :: js" ></div>
</body>
</html>